  .container {
    background-image: url("backgr3.png");
    box-shadow: -0px -0px 3px blue;
    border-radius: 5px;
    padding: 20px;
    width: 300px;
    height: 400px;
    margin-left: 600px;
    margin-top: 120px;
    color:white;
     
    }
    
    .container1 {
      background-color: rgb(233, 214, 214);
      box-shadow: -2px -2px blue;
      border-radius: 5px;
      padding: 20px;
      width: 300px;
      height: 400px;
      margin-left: 600px;
      margin-top: 120px;
      background-image: url("backgr3.png");
      color:white;
     
    }
    
  .log,.create{
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }
  .login{
      width: 100px;
      height: 30px;
      margin-left: 100px;
      font-size: 20px;
      font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
      background-color: blue;
      color:white;
  
  }
  .login:hover{
    width: 100px;
    height: 30px;
    margin-left: 100px;
    background-color: re;
    color:white
    
  }
  
    .login-form {
      display: flex;
      flex-direction: column;
    }
    
    h2 {
      text-align: center;
      margin-bottom: 20px;
    }
    
    label {
      margin-bottom: 5px;
    }
    
    input {
      padding: 8px;
      margin-bottom: 10px;
      border: 1px solid black;
      border-radius: 3px;
    }
  
    .sign{
      color: red;
      text-decoration: none;
      font-family: Arial, Helvetica, sans-serif;
      font-size: 20px;
    }
    .signup{
      display: flex;
      column-gap: 100px;
    }
    .signup1{
      width: 100px;
      height: 30px;
      margin-top: 30px;
      
    }
    .below{
      color: white;
      font-family: cursive;
      font-size: 15px;
    }