body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  /* overflow-y:visible; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.nav1{
  background-color: whitesmoke;
  padding: 15px 30px; 
  font-size: 25px;
  word-spacing: 20px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
nav a.active{
  background-color:greenyellow;
  font-size: 30px;
  border-radius: 10px;
  padding: 5px 10px;

}
nav a{
    text-decoration: none;
    margin-right: 5px;
}
h1{
align-items: center;
}


.ct1{
  position: relative;
  left: 10px;
  border-radius: 60px;
  height: 90px;
  width: 90px;
  margin-top: 10px;

}


.logo {
  color: brown;
}

.invalid{
  color: red;
  font-size: 20px;
  bottom: 130px;
}